.Body {
  text-align: center;
}

.header {
  padding: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.mircophone-container{
  border: 1px solid rgba(26, 224, 198, 0.87);
  background-color: darkgrey;
  padding: auto;
  border-radius: 10px;
}

.microphone-result-text{
  min-height: 5vh;
  background-color: white;
  border-color: black;
  border-radius: 10px;
}


.respuesta-busqueda{
  min-height: 5vh;
  background-color: white;
  border-color: black;
  border-radius: 10px;
}

.control-microphone{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.card-menu{
  padding: 10px;
  border: 1px solid rgba(26, 224, 198, 0.87);
  border-radius: 10px;
  background-color: darkgrey;
}